h1 {
    color:rgb(26, 103, 247);
}
#tituloSecundario {
    color:cornflowerblue;
}
.titulos {
    color:darkblue;
}
#nav li a {
    color:darkblue;
}
.baja {
    color:red;
}
.color-blue {
    color:blue;
}